{% extends 'base.html.twig' %}

{% block title %}{{ doctor.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ doctor.fullName }}</h1>
        <img src="{{ asset('uploads/' ~ doctor.photo) }}" alt="{{ doctor.fullName }}">
        <p>Spécialité : {{ doctor.speciality.name }}</p>
        <p>{{ doctor.description }}</p>

        {% if doctor.phone and doctor.email %}
            <ul>
                {% if doctor.phone %}
                    <li>Téléphone : {{ doctor.phone }}</li>
                {% endif %}
                {% if doctor.email %}
                    <li>Email : {{ doctor.email }}</li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
{% endblock %}
